In [103]:
import pandas as pd 
import numpy as np

In [104]:
bint_df = pd.read_csv("BINT.csv")

In [105]:
bint_df

,STUID,DOB,GENDER,ETHNICITYID,ETHNICITY,CITYID,CITY,DISTRICTID,DISTRICT,FEEDERID,...,SEMESTERPOINTS,SEMESTERGPA,COURSECODE,COURSETITLE,COURSEGRADE,COURSECREDITS,COURSEPOINTS,COURSEGPA,COMMENTS,CGPA
0,1,20/03/1983,F,8.0,Creole,"53,222",BELIZE CITY,75.0,BELIZE,164.0,...,9.0,2.5,CMPS314,ALGORITHMS,B,3.0,9.0,3.0,NaN,3.26
1,1,20/03/1983,F,8.0,Creole,"53,222",BELIZE CITY,75.0,BELIZE,164.0,...,7.5,2.5,CMPS316,PROGRAMMING LANGUAGES,C+,3.0,7.5,2.5,NaN,3.26
2,1,20/03/1983,F,8.0,Creole,"53,222",BELIZE CITY,75.0,BELIZE,164.0,...,9.0,3.1,CMPS412,ADVANCED COMPUTER ARCHITECTURE,B,3.0,9.0,3.0,NaN,3.26
3,1,20/03/1983,F,8.0,Creole,"53,222",BELIZE CITY,75.0,BELIZE,164.0,...,10.5,3.5,MATH480,LINEAR PROGRAMMING.,B+,3.0,10.5,3.5,NaN,3.26
4,1,20/03/1983,F,8.0,Creole,"53,222",BELIZE CITY,75.0,BELIZE,164.0,...,7.5,2.5,CMPS312,COMPUTER ORG. & ASSEMBLY LANG. PROG.,C+,3.0,7.5,2.5,NaN,3.26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8439,8423,13/06/1978,F,8.0,Creole,"53,222",BELIZE CITY,75.0,BELIZE,164.0,...,0.0,1.5,CMPS3151,TELECOMMUNICATION,F,3.0,0.0,0.0,NaN,2.01
8440,8423,13/06/1978,F,8.0,Creole,"53,222",BELIZE CITY,75.0,BELIZE,164.0,...,7.5,3.0,MATH1302,CALCULUS I,C+,3.0,7.5,2.5,NaN,2.01
8441,8423,13/06/1978,F,8.0,Creole,"53,222",BELIZE CITY,75.0,BELIZE,164.0,...,10.5,3.0,MGMT2055,BUSINESS ETHICS,B+,3.0,10.5,3.5,NaN,2.01
8442,8423,13/06/1978,F,8.0,Creole,"53,222",BELIZE CITY,75.0,BELIZE,164.0,...,3.0,1.9,MATH2201,CALCULUS II,D,3.0,3.0,1.0,NaN,2.01
8443,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [106]:
bint_df_student = bint_df.drop_duplicates(subset="STUID",ignore_index=True)

In [107]:
bint_df_student

,STUID,DOB,GENDER,ETHNICITYID,ETHNICITY,CITYID,CITY,DISTRICTID,DISTRICT,FEEDERID,...,SEMESTERPOINTS,SEMESTERGPA,COURSECODE,COURSETITLE,COURSEGRADE,COURSECREDITS,COURSEPOINTS,COURSEGPA,COMMENTS,CGPA
0,1,20/03/1983,F,8.0,Creole,"53,222",BELIZE CITY,75.0,BELIZE,164.0,...,9.0,2.50,CMPS314,ALGORITHMS,B,3.0,9.0,3.0,NaN,3.26
1,19,27/12/1980,F,13.0,Mestizo,"52,456",ORANGE WALK,25.0,ORANGE WALK,164.0,...,9.0,3.29,CMPS248,SOFTWARE IN SOCIETY,B,3.0,9.0,3.0,NaN,3.32
2,56,30/10/1981,M,13.0,Mestizo,"52,997",BELMOPAN CITY,393.0,CAYO,164.0,...,0.0,0.38,MAT103,TRIGONOMETRY 1,WF,3.0,0.0,0.0,NaN,1.33
3,105,31/05/1976,M,16.0,Unknown,"53,550",CAYO,75.0,BELIZE,165.0,...,14.0,3.50,CMPS146,PROGRAMMING FOUNDATIONS,B+,4.0,14.0,3.5,NaN,3.62
4,109,04/08/1981,M,16.0,Unknown,"53,550",CAYO,75.0,BELIZE,162.0,...,0.0,0.00,CMPS314,ALGORITHMS,F,3.0,0.0,0.0,NaN,1.23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
431,8322,26/11/1973,M,15.0,Other,"52,997",BELMOPAN CITY,393.0,CAYO,102.0,...,10.5,3.00,CMPS314,ALGORITHMS,B+,3.0,10.5,3.5,NaN,2.94
432,8340,09/07/1979,M,13.0,Mestizo,"53,222",BELIZE CITY,75.0,BELIZE,164.0,...,9.0,2.76,CMPS244,WEB APPLICATION DEV. 1,B,3.0,9.0,3.0,NaN,3.08
433,8368,24/02/1981,F,16.0,Unknown,"53,222",BELIZE CITY,75.0,BELIZE,164.0,...,0.0,3.00,CMPS4111,DATABASE MANAGEMENT SYSTEMS II,WF,3.0,0.0,0.0,NaN,3.05
434,8394,27/01/1979,M,7.0,Caucasian,"52,997",BELMOPAN CITY,393.0,CAYO,123.0,...,14.0,3.74,MATH210,DIFFERENTIAL CALCULUS,B+,4.0,14.0,3.5,NaN,3.73
435,8423,13/06/1978,F,8.0,Creole,"53,222",BELIZE CITY,75.0,BELIZE,164.0,...,0.0,2.50,MATH1302,CALCULUS I,WF,3.0,0.0,0.0,REPEAT,2.01

In [108]:
bint_df_student.groupby("PROGRAMSTATUS")["PROGRAMSTATUS"].count()

PROGRAMSTATUS
Dropped         47
Graduated      232
In Process      61
Terminated      90
Transferred      5
terminated       1
Name: PROGRAMSTATUS, dtype: int64

In [109]:
bint_df.groupby("COURSETITLE")["COURSETITLE"].count()

COURSETITLE
ADOLESCENT PSYCHOLOGY              7
ADVANCED ALGEBRA                  10
ADVANCED COMPUTER ARCHITECTURE    46
ADVANCED DATABASES                91
ADVANCED GUI DEVELOPMENT          68
                                  ..
TRIGONOMETRY                      84
TRIGONOMETRY 1                    40
UB SERVICE                         1
WEB APPLICATION DEV. 1            27
WEB DEVELOPMENT                   35
Name: COURSETITLE, Length: 189, dtype: int64

In [110]:
bint_df_feeder= bint_df.drop_duplicates(subset="STUID",keep="last")

In [111]:
bint_df_feeder.groupby("FEEDER")["FEEDER"].count()

FEEDER
 STANN CREEK ECUMENICAL HIGH SC         6
 WESLEY JUNIOR COLLEGE                 10
*UNKNOWN                                8
ADULT & CONTINUING EDUCATION            1
BELIZE ADVENTIST COLLEGE                3
BELIZE ADVENTIST JUNIOR COLLEGE         4
BELIZE CHRISTIAN ACADEMY                3
BELIZE COLLEGE OF AGRICULTURE           1
BELIZE TECHNICAL COLLEGE                3
BELMOPAN COMPREHENSIVE SCHOOL           9
BELMOPAN JUNIOR COLLEGE                 4
COROZAL JUNIOR COLLEGE                 12
EDEN SDA HIGH                           1
EDWARD P. YORKE                         2
ESCUELA MEXICO JR COLLEGE              13
FOREIGN                                 8
INDEPENDENCE JUNIOR COLLEGE             7
LADYVILLE TECHNICAL HIGH                1
MOPAN TECHNICAL HIGH SCHOOL             1
MUFFLES JUNIOR COLLEGE                 10
OUR LADY OF GUADALUPE HIGH SCH          1
SACRED HEART COLLEGE                    5
SACRED HEART JUNIOR COLLEGE            26
ST. CATHERINE ACADEMY                   3
ST. JOHN'S COLLEGE                      2
ST. JOHN'S COLLEGE JUNIOR COLLEGE      65
STANN CREEK ECUMENICAL JR. COLLEGE      5
TOLEDO COMMUNITY COLLEGE                1
UNIVERSITY COLLEGE OF BELIZE            3
UNIVERSITY OF BELIZE                  209
UNIVERSITY OF THE WEST INDIES           1
Name: FEEDER, dtype: int64

In [112]:
bint_df_city= bint_df.drop_duplicates(subset="STUID",keep="last")

In [113]:
bint_df_city.groupby("CITY")["CITY"].count()

CITY
-                           66
BELIZE                       8
BELIZE CITY                 88
BELIZE DISTRICT              1
BELMOPAN                    24
BELMOPAN CITY               86
BENQUE VIEJO DEL CARMEN     11
BENQUE VIEJO ROAD            1
BULLET TREE FALLS            2
BURRELL BOOM VILLAGE         2
BUTTONWOOD BAY               1
Belize                       2
CAMALOTE VILLAGE             1
CAYE CAULKER                 1
CAYO                        14
CAYO DISTRICT                2
COROZAL                      2
COROZAL DISTRICT             2
COROZAL TOWN                11
DANGRIGA TOWN               16
HATTIEVILLE VILLAGE          1
INDEPENDENCE VILLAGE         1
JANE USHER AREA              1
LADYVILLE VILLAGE            3
LORDS BANK                   1
NIGERIA                      2
ORANGE WALK                 14
ORANGE WALK DISTRICT         3
ORANGE WALK TOWN            13
Orange Walk Town             1
PUNTA GORDA                  2
PUNTA GORDA TOWN             1
ROARING CREEK VILLAGE        2
SAN IGNACIO                 18
SAN IGNACIO TOWN             4
SAN JOSE SUCCOTZ VILLAGE     1
SAN LAZARO VILLAGE           1
SAN NARCISO VILLAGE          2
SAN PABLO VILLAGE            1
SAN PEDRO                    1
SAN ROMAN VILLAGE            1
SANDHILL VILLAGE             1
SANTA ELENA                  2
STANN CREEK                  8
STANN CREEK DISTRICT         1
TOLEDO                       1
TRIAL FARM                   1
WESTERN HIGHWAY              1
Name: CITY, dtype: int64

In [114]:
bint_df_status= bint_df.drop_duplicates(subset="STUID",keep="last")

In [115]:
bint_df_status.groupby("PROGRAMSTATUS")["PROGRAMSTATUS"].count()

PROGRAMSTATUS
Dropped         45
Graduated      233
In Process      64
Terminated      87
Transferred      5
terminated       1
Name: PROGRAMSTATUS, dtype: int64

In [116]:
bint_df_ethnicity= bint_df.drop_duplicates(subset="STUID",keep="last")

In [117]:
bint_df_ethnicity.groupby("ETHNICITY")["ETHNICITY"].count()

ETHNICITY
Caucasian        2
Creole         117
East Indian     15
Garifuna        19
Ketchi           1
Mayan           15
Mestizo        175
Oriental        23
Other           40
Unknown         28
Name: ETHNICITY, dtype: int64

In [118]:
bint_df_gender= bint_df.drop_duplicates(subset="STUID",keep="last")

In [119]:
bint_df_gender.groupby("GENDER")["GENDER"].count()

GENDER
F     96
M    339
Name: GENDER, dtype: int64

In [120]:
bint_df_couravg= bint_df.drop(["STUID","DOB","GENDER","ETHNICITYID","ETHNICITY","CITYID","CITY","DISTRICTID","DISTRICT","FEEDERID","FEEDER","PROGRAM","PROGRAMSTART","PROGRAMSTATUS","GRADDATE","PROGRAMEND","DEGREEID","DEGREE","BREAK","CODE","ENROLLEDSEMESTER", "SEMESTERCREDITSATTEMPTED","SEMESTERCREDITSEARNED","SEMESTERPOINTS", "SEMESTERGPA","COURSECREDITS","COURSEPOINTS","COURSEGPA", "COMMENTS", "CGPA"], axis=1)

In [121]:
bint_df_couravg

     COURSECODE                           COURSETITLE COURSEGRADE
0       CMPS314                            ALGORITHMS           B
1       CMPS316                 PROGRAMMING LANGUAGES          C+
2       CMPS412        ADVANCED COMPUTER ARCHITECTURE           B
3       MATH480                   LINEAR PROGRAMMING.          B+
4       CMPS312  COMPUTER ORG. & ASSEMBLY LANG. PROG.          C+
...         ...                                   ...         ...
8439   CMPS3151                     TELECOMMUNICATION           F
8440   MATH1302                            CALCULUS I          C+
8441   MGMT2055                       BUSINESS ETHICS          B+
8442   MATH2201                           CALCULUS II           D
8443        NaN                                   NaN         NaN

[8444 rows x 3 columns]

In [122]:
bint_df_couravg.dtypes

COURSECODE     object
COURSETITLE    object
COURSEGRADE    object
dtype: object

In [123]:
bint_df_couravg.groupby("COURSETITLE")["COURSETITLE"].count()

COURSETITLE
ADOLESCENT PSYCHOLOGY              7
ADVANCED ALGEBRA                  10
ADVANCED COMPUTER ARCHITECTURE    46
ADVANCED DATABASES                91
ADVANCED GUI DEVELOPMENT          68
                                  ..
TRIGONOMETRY                      84
TRIGONOMETRY 1                    40
UB SERVICE                         1
WEB APPLICATION DEV. 1            27
WEB DEVELOPMENT                   35
Name: COURSETITLE, Length: 189, dtype: int64

In [124]:
bint_df_couravg['COURSEGRADE'] = bint_df_couravg['COURSEGRADE'].replace({'A': 4.0, 'A-': 3.7, 'B+': 3.3, 'B': 3.0, 'C+': 2.7, 'C': 2.3, 'D+': 1.7, 'D': 1.3, 'F':0.0, 'WF': 0.0,'RE': 0.0,'NG': 0.0,'WP': 0.0,'W': 0.0,'NR': 0.0,'P': 0.0,'AU': 0.0})

In [125]:
bint_df_couravg

     COURSECODE                           COURSETITLE  COURSEGRADE
0       CMPS314                            ALGORITHMS          3.0
1       CMPS316                 PROGRAMMING LANGUAGES          2.7
2       CMPS412        ADVANCED COMPUTER ARCHITECTURE          3.0
3       MATH480                   LINEAR PROGRAMMING.          3.3
4       CMPS312  COMPUTER ORG. & ASSEMBLY LANG. PROG.          2.7
...         ...                                   ...          ...
8439   CMPS3151                     TELECOMMUNICATION          0.0
8440   MATH1302                            CALCULUS I          2.7
8441   MGMT2055                       BUSINESS ETHICS          3.3
8442   MATH2201                           CALCULUS II          1.3
8443        NaN                                   NaN          NaN

[8444 rows x 3 columns]

In [126]:
bint_df_couravg['COURSEGRADE'].unique()

array([3. , 2.7, 3.3, 2.3, 3.7, 4. , 0. , 1.7, 1.3, nan])

In [127]:
bint_df_couravg.groupby("COURSETITLE")["COURSEGRADE"].mean()

COURSETITLE
ADOLESCENT PSYCHOLOGY             3.428571
ADVANCED ALGEBRA                  2.230000
ADVANCED COMPUTER ARCHITECTURE    3.176087
ADVANCED DATABASES                3.420513
ADVANCED GUI DEVELOPMENT          2.550000
                                    ...
TRIGONOMETRY                      1.844048
TRIGONOMETRY 1                    1.662500
UB SERVICE                             NaN
WEB APPLICATION DEV. 1            2.788889
WEB DEVELOPMENT                   2.609091
Name: COURSEGRADE, Length: 189, dtype: float64