In [1]:
import pandas as pd

In [2]:
bint_df = pd.read_csv("BINT.csv")

In [3]:
bint_df_avgrad= bint_df.drop_duplicates(subset="STUID",keep="last")

In [4]:
bint_df_avgrad= bint_df.drop_duplicates(subset="STUID",keep="last").drop(["DOB","GENDER","ETHNICITYID","ETHNICITY","CITYID","CITY","DISTRICTID","DISTRICT","FEEDERID","FEEDER","PROGRAM","DEGREEID","DEGREE","BREAK","CODE","ENROLLEDSEMESTER", "SEMESTERCREDITSATTEMPTED","SEMESTERCREDITSEARNED","SEMESTERPOINTS", "SEMESTERGPA","COURSECODE","COURSETITLE","COURSEGRADE","COURSECREDITS","COURSEPOINTS","COURSEGPA", "COMMENTS", "CGPA"], axis=1)

In [5]:
bint_df_avgrad

      STUID PROGRAMSTART PROGRAMSTATUS    GRADDATE  PROGRAMEND
54       19   19/08/2002     Graduated  11/06/2006  19/05/2006
103      56   18/08/2008    Terminated         NaN         NaN
107     105   14/08/2002       Dropped         NaN         NaN
118     109   17/03/2005       Dropped         NaN         NaN
136     120   16/08/2004     Graduated  11/06/2006  19/05/2006
...     ...          ...           ...         ...         ...
8366   8340   13/08/2007     Graduated  14/06/2014  19/05/2014
8392   8368   13/08/2007     Graduated  15/06/2013  13/05/2013
8421   8394   14/12/1999     Graduated  08/06/2003  10/05/2003
8442   8423   19/08/2013       Dropped         NaN         NaN
8443      1          NaN           NaN         NaN         NaN

[436 rows x 5 columns]

In [6]:
bint_df_avgrad.dtypes

STUID             int64
PROGRAMSTART     object
PROGRAMSTATUS    object
GRADDATE         object
PROGRAMEND       object
dtype: object

In [13]:
bint_df_avgrad['PROGRAMSTART'] = pd.to_datetime(bint_df_avgrad['PROGRAMSTART'])

In [14]:
bint_df_avgrad['GRADDATE'] = pd.to_datetime(bint_df_avgrad['GRADDATE'])

In [9]:
bint_df_avgrad['stend'] = bint_df_avgrad['GRADDATE'] - bint_df_avgrad['PROGRAMSTART']

In [10]:
bint_df_avgrad.dtypes

STUID                      int64
PROGRAMSTART      datetime64[ns]
PROGRAMSTATUS             object
GRADDATE          datetime64[ns]
PROGRAMEND                object
stend            timedelta64[ns]
dtype: object

In [11]:
avgrad = bint_df_avgrad['stend'].mean()

In [12]:
avgrad

Timedelta('1146 days 21:17:13.043478256')